---
layout: default
title: {{ site.name }}
---

<div id="home">
    {% for category in site.categories %}
    {% capture category_name %}{{ category | first }}{% endcapture %}
    <h2>{{ category_name }}</h2>
    <section class="text-center my-5">
        <!-- Grid row -->
        <div class="row text-center">
            {% for post in site.categories[category_name] %}
            <!-- Grid column -->
            <div class="col-lg-4 col-md-12 mb-4">
                <!--Featured image-->
                <div class="view overlay rounded z-depth-1">
                    <img src="{{ site.baseurl }}{{ post.thumbnail }}" class="img-fluid" alt="Image of {{ post.title }}">
                    <a href="{{ site.baseurl }}{{ post.url }}" rel="noopener">
                        <div class="mask rgba-whtite-slight"></div>
                    </a>
                </div>
                <!--Excerpt-->
                <div class="card-body pb-0 pr-0 pl-0">
                    <h4 class="font-weight-bold my-3">{{ post.title }}</h4>
                    <p class="grey-text">{{ post.excerpt }}
                    </p>
                    <a class="btn btn-green btn-sm" href="{{ site.baseurl }}{{ post.url }}" rel="noopener"><i class="fa fa-clone left"></i> View project</a>
                </div>
            </div>
            <!-- Grid column -->
            {% endfor %}
        </div>
        <!-- Grid row -->
    </section>
    <!-- Projects section v.1 -->
    {% endfor %}

</div>