<!doctype html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{{ page.title }} - {{ site.title }}</title>
  <meta name="description" content="{% if .page.description %}{{ .page.description }}{% else %}{{ .site.description }}{% endif %}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Icons -->
  <link rel="apple-touch-icon" sizes="57x57" href="{{ "/uploads/logo/apple-icon-57x57.png" | absolute_url }}">
  <link rel="apple-touch-icon" sizes="60x60" href="{{ "/uploads/logo/apple-icon-60x60.png" | absolute_url }}">
  <link rel="apple-touch-icon" sizes="72x72" href="{{ "/uploads/logo/apple-icon-72x72.png" | absolute_url }}">
  <link rel="apple-touch-icon" sizes="76x76" href="{{ "/uploads/logo/apple-icon-76x76.png" | absolute_url }}">
  <link rel="apple-touch-icon" sizes="114x114" href="{{ "/uploads/logo/apple-icon-114x114.png" | absolute_url }}">
  <link rel="apple-touch-icon" sizes="120x120" href="{{ "/uploads/logo/apple-icon-120x120.png" | absolute_url }}">
  <link rel="apple-touch-icon" sizes="144x144" href="{{ "/uploads/logo/apple-icon-144x144.png" | absolute_url }}">
  <link rel="apple-touch-icon" sizes="152x152" href="{{ "/uploads/logo/apple-icon-152x152.png" | absolute_url }}">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ "/uploads/logo/apple-icon-180x180.png" | absolute_url }}">
  <link rel="icon" type="image/png" sizes="192x192"  href="{{ "/uploads/logo/android-icon-192x192.png" | absolute_url }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ "/uploads/logo/favicon-32x32.png" | absolute_url }}">
  <link rel="icon" type="image/png" sizes="96x96" href="{{ "/uploads/logo/favicon-96x96.png" | absolute_url }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ "/uploads/logo/favicon-16x16.png" | absolute_url }}">
  <link rel="manifest" href="{{ "/uploads/logo/manifest.json" | absolute_url }}">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="{{ "/uploads/logo/ms-icon-144x144.png" | absolute_url }}">
  <meta name="theme-color" content="#ffffff">

  <link rel="stylesheet" href="https://yui-s.yahooapis.com/pure/0.6.0/pure-min.css">
  <!--[if lte IE 8]>
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-old-ie-min.css">
  <![endif]-->
  <!--[if gt IE 8]><!-->
  <link rel="stylesheet" href="https://yui-s.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
  <!--<![endif]-->
  <link rel="stylesheet" href="{{ "/css/main.min.css" | absolute_url }}">
</head>
<body>