<section class="page-header">
    <h1 class="project-name">{{ site.title }}</h1>
    <h2 class="project-tagline">{{ site.tagline }}</h2>
    <a href="{{ site.baseurl }}/index.html" class="btnCay">About</a>
    <a href="{{ site.baseurl }}/projects.html" class="btnCay">Our Projects</a>
    <a href="https://github.com/olinrobotics/hiro/wiki" rel="noopener" target="_blank" class="btnCay">Tutorials</a>
    <a href="https://github.com/olinrobotics/hiro/" rel="noopener" target="_blank" class="btnCay">View on GitHub</a>
</section>