#!/usr/bin/env python
PACKAGE = "irl_stereo"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("verbose", bool_t, 0, "Showing Windows, etc.", False)
gen.add("pcl", bool_t, 0, "Publish To PointCloud2 Topic", False)
gen.add("coarse", bool_t, 0, "Filter Selection", True)

gen.add("solidity", double_t, 0, "Convex-ness of Contour", 0.5, 0.0, 1.0)

exit(gen.generate(PACKAGE, "irl_stereo", "IRLStereo"))
