<launch>
  <!-- By default we do not overwrite the URDF. Change the following to true to change the default behavior -->
  <arg name="load_robot_description" default="false"/>
  <arg name="limited" default="true"/>
  <arg name="grippers" default="3"/>

  <!-- The name of the parameter under which the URDF is loaded -->
  <arg name="robot_description" default="robot_description"/>

  <!-- Load universal robot description format (URDF) -->
  <group if="$(arg load_robot_description)">
    <param name="robot_description"
           command="$(find xacro)/xacro --inorder '$(find ur_description)/urdf/xamyab_robot.urdf.xacro' limited:=$(arg limited) grippers:=$(arg grippers)"/>
  </group>

  <!-- The semantic description that corresponds to the URDF -->
  <param name="$(arg robot_description)_semantic" textfile="$(find xamyab_moveit_config)/config/xamyab_$(arg grippers).srdf" />
  
  <!-- Load updated joint limits (override information from URDF) -->
  <group ns="$(arg robot_description)_planning">
    <rosparam command="load" file="$(find xamyab_moveit_config)/config/joint_limits.yaml"/>
  </group>

  <!-- Load default settings for kinematics; these settings are overridden by settings in a node's namespace -->
  <group ns="$(arg robot_description)_kinematics">
    <rosparam command="load" file="$(find xamyab_moveit_config)/config/kinematics.yaml"/>
  </group>
  
</launch>
