<launch>
  <arg name="limited" default="true"/>
  <arg name="grippers" default="3"/>
  <arg name="debug" default="false" />

  <!-- Launch moveit -->
  <include file="$(find xamyab_moveit_config)/launch/move_group.launch">
    <arg name="limited" default="$(arg limited)"/>
    <arg name="grippers" default="$(arg grippers)"/>
    <arg name="debug" default="$(arg debug)" />
  </include>
</launch>
