<launch>
	<include file="$(find gazebo_ros)/launch/empty_world.launch" />

	<param name="robot_description"
		textfile="$(find edwin_description)/urdf/robot_3.urdf" />

	<node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-urdf -model alphabot -param robot_description" />

	<!-- For Gazebo? -->
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
		respawn="false" output="screen">
		<remap from="/joint_states" to="/edwin/joint_states" />
	</node>

	<node
		name="fake_joint_calibration"
		pkg="rostopic"
		type="rostopic"
		args="pub /calibrated std_msgs/Bool true" />
</launch>
