<?xml version="1.0"?>
<!--
  Xamyab robot launch with two UR5 arms.  Loads xamyab robot description
  (see xamtab_ur_common.launch for more info)

  Usage:
    xamyab_bringup.launch left_robot_ip:=<value> left_reverse_port:=<value>
    right_robot_ip:=<value> right_reverse_port:=<value>
-->
<launch>

  <!-- robot_ip: IP-address of the robot's socket-messaging server -->
  <arg name="left_robot_ip" default="10.42.0.54"/>
  <arg name="left_reverse_port" default="50001"/>
  <arg name="right_robot_ip" default="10.42.1.175"/>
  <arg name="right_reverse_port" default="50002"/>
  <arg name="limited" default="true"/>
  <arg name="grippers" default="3"/>
  <arg name="min_payload"  default="0.0"/>
  <arg name="max_payload"  default="5.0"/>
  <arg name="left_prefix" default="left_" />
  <arg name="right_prefix" default="right_" />
  <arg name="use_lowbandwidth_trajectory_follower" default="true"/>
  <arg name="time_interval" default="0.008"/>
  <arg name="servoj_time" default="0.008" />
  <arg name="servoj_time_waiting" default="0.001" />
  <arg name="max_waiting_time" default="2.0" />
  <arg name="servoj_gain" default="100." />
  <arg name="servoj_lookahead_time" default="1." />
  <arg name="max_joint_difference" default="0.01" />
  <arg name="base_frame" default="$(arg left_prefix)base" />
  <arg name="tool_frame" default="$(arg left_prefix)tool0_controller" />
  <arg name="shutdown_on_disconnect" default="true" />

  <!-- robot model -->
  <include file="$(find ur_description)/launch/xamyab_upload.launch">
    <arg name="limited" value="$(arg limited)"/>
    <arg name="grippers" value="$(arg grippers)"/>
  </include>

  <!-- ur common -->
  <include file="$(find ur_modern_driver)/launch/xamyab_ur_common.launch">
    <arg name="left_robot_ip" value="$(arg left_robot_ip)"/>
    <arg name="left_reverse_port" value="$(arg left_reverse_port)"/>
    <arg name="right_robot_ip" value="$(arg right_robot_ip)"/>
    <arg name="right_reverse_port" value="$(arg right_reverse_port)"/>
    <arg name="min_payload"  value="$(arg min_payload)"/>
    <arg name="max_payload"  value="$(arg max_payload)"/>
    <arg name="left_prefix"  value="$(arg left_prefix)" />
    <arg name="right_prefix"  value="$(arg right_prefix)" />
    <arg name="use_lowbandwidth_trajectory_follower" value="$(arg use_lowbandwidth_trajectory_follower)"/>
    <arg name="time_interval" value="$(arg time_interval)"/>
    <arg name="servoj_time" value="$(arg servoj_time)" />
    <arg name="servoj_time_waiting" default="$(arg servoj_time_waiting)" />
    <arg name="max_waiting_time" value="$(arg max_waiting_time)" />
    <arg name="servoj_gain" value="$(arg servoj_gain)" />
    <arg name="servoj_lookahead_time" value="$(arg servoj_lookahead_time)" />
    <arg name="max_joint_difference" value="$(arg max_joint_difference)" />
    <arg name="base_frame" value="$(arg base_frame)" />
    <arg name="tool_frame" value="$(arg tool_frame)" />
    <arg name="shutdown_on_disconnect" value="$(arg shutdown_on_disconnect)"/>
  </include>

</launch>